.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-image: linear-gradient(to right, hsl(180, 100%, 40%), hsl(270, 100%, 40%));
  width: 100%;
  color: white;
}

.App-header h1 {
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 3.5rem;
  padding-right: 2rem;
}

.App-navigation {
  background-color: hsl(0, 0%, 20%);
  font-size: 2rem;
  min-height: 6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.App-content {
  background-image: linear-gradient(to bottom right, hsl(150, 100%, 40%), hsl(90, 100%, 50%));
  width: 100%;
  flex: auto;
}

.App-footer {
  background-color: hsl(0, 0%, 20%);
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 100%;
  color: white;
}
